filebeat.inputs:
{% for log in filebeat_inputs %}
  - type: {{ log.type }}
    paths:
    {% for path in log.paths %}
      - "{{ path }}"
    {% endfor %}
{% endfor %}


output.logstash:
  hosts:
{% for host in groups.logs %}
    - {{ host }}:12345
{% endfor %}
